//NET "xtal" LOC="B8" | CLOCK_DEDICATED_ROUTE = FALSE | TNM_NET = xtal;
//TIMESPEC "TS_xtal"=PERIOD "xtal" 50 MHz HIGH 50%;
NET "clk" LOC="AH15" | TNM = clk;

//TIMESPEC TSctl = FROM clk TO CR_CTL 5ns;
//TIMESPEC TSdatao = FROM clk TO CR_DATA 5ns;
//TIMESPEC TSdatai = FROM CR_DATA TO clk 5ns;
//TIMESPEC TSaddr = FROM clk TO CR_ADDR 5ns;

###
### Begin import from MIG generated ucf
###

NET  "ddr2_dq[*]"                               IOSTANDARD = SSTL18_II_DCI;
NET  "ddr2_a[*]"                                IOSTANDARD = SSTL18_II;
NET  "ddr2_ba[*]"                               IOSTANDARD = SSTL18_II;
NET  "ddr2_ras_n"                               IOSTANDARD = SSTL18_II;
NET  "ddr2_cas_n"                               IOSTANDARD = SSTL18_II;
NET  "ddr2_we_n"                                IOSTANDARD = SSTL18_II;
NET  "ddr2_cs_n[*]"                             IOSTANDARD = SSTL18_II;
NET  "ddr2_odt[*]"                              IOSTANDARD = SSTL18_II;
NET  "ddr2_cke[*]"                              IOSTANDARD = SSTL18_II;
NET  "ddr2_dm[*]"                               IOSTANDARD = SSTL18_II_DCI;
NET  "sys_clk_p"                                IOSTANDARD = LVPECL_25;
NET  "sys_clk_n"                                IOSTANDARD = LVPECL_25;
NET  "clk200_p"                                 IOSTANDARD = LVPECL_25;
NET  "clk200_n"                                 IOSTANDARD = LVPECL_25;
NET  "sys_rst_n"                                IOSTANDARD = LVCMOS18;
NET  "phy_init_done"                            IOSTANDARD = LVCMOS18;
NET  "ddr2_dqs[*]"                              IOSTANDARD = DIFF_SSTL18_II_DCI;
NET  "ddr2_dqs_n[*]"                            IOSTANDARD = DIFF_SSTL18_II_DCI;
NET  "ddr2_ck[*]"                               IOSTANDARD = DIFF_SSTL18_II;
NET  "ddr2_ck_n[*]"                             IOSTANDARD = DIFF_SSTL18_II;

NET  "ddr2_dq[0]"                                LOC = "AF30" ;          #Bank 17
NET  "ddr2_dq[1]"                                LOC = "AK31" ;          #Bank 17
NET  "ddr2_dq[2]"                                LOC = "AF31" ;          #Bank 17
NET  "ddr2_dq[3]"                                LOC = "AD30" ;          #Bank 17
NET  "ddr2_dq[4]"                                LOC = "AJ30" ;          #Bank 17
NET  "ddr2_dq[5]"                                LOC = "AF29" ;          #Bank 17
NET  "ddr2_dq[6]"                                LOC = "AD29" ;          #Bank 17
NET  "ddr2_dq[7]"                                LOC = "AE29" ;          #Bank 17
NET  "ddr2_dq[8]"                                LOC = "AH27" ;          #Bank 21
NET  "ddr2_dq[9]"                                LOC = "AF28" ;          #Bank 21
NET  "ddr2_dq[10]"                               LOC = "AH28" ;          #Bank 21
NET  "ddr2_dq[11]"                               LOC = "AA28" ;          #Bank 21
NET  "ddr2_dq[12]"                               LOC = "AG25" ;          #Bank 21
NET  "ddr2_dq[13]"                               LOC = "AJ26" ;          #Bank 21
NET  "ddr2_dq[14]"                               LOC = "AG28" ;          #Bank 21
NET  "ddr2_dq[15]"                               LOC = "AB28" ;          #Bank 21
NET  "ddr2_dq[16]"                               LOC = "AC28" ;          #Bank 21
NET  "ddr2_dq[17]"                               LOC = "AB25" ;          #Bank 21
NET  "ddr2_dq[18]"                               LOC = "AC27" ;          #Bank 21
NET  "ddr2_dq[19]"                               LOC = "AA26" ;          #Bank 21
NET  "ddr2_dq[20]"                               LOC = "AB26" ;          #Bank 21
NET  "ddr2_dq[21]"                               LOC = "AA24" ;          #Bank 21
NET  "ddr2_dq[22]"                               LOC = "AB27" ;          #Bank 21
NET  "ddr2_dq[23]"                               LOC = "AA25" ;          #Bank 21
NET  "ddr2_dq[24]"                               LOC = "AC29" ;          #Bank 17
NET  "ddr2_dq[25]"                               LOC = "AB30" ;          #Bank 17
NET  "ddr2_dq[26]"                               LOC = "W31" ;          #Bank 17
NET  "ddr2_dq[27]"                               LOC = "V30" ;          #Bank 17
NET  "ddr2_dq[28]"                               LOC = "AC30" ;          #Bank 17
NET  "ddr2_dq[29]"                               LOC = "W29" ;          #Bank 17
NET  "ddr2_dq[30]"                               LOC = "V27" ;          #Bank 17
NET  "ddr2_dq[31]"                               LOC = "W27" ;          #Bank 17
NET  "ddr2_dq[32]"                               LOC = "V29" ;          #Bank 17
NET  "ddr2_dq[33]"                               LOC = "Y27" ;          #Bank 17
NET  "ddr2_dq[34]"                               LOC = "Y26" ;          #Bank 17
NET  "ddr2_dq[35]"                               LOC = "W24" ;          #Bank 17
NET  "ddr2_dq[36]"                               LOC = "V28" ;          #Bank 17
NET  "ddr2_dq[37]"                               LOC = "W25" ;          #Bank 17
NET  "ddr2_dq[38]"                               LOC = "W26" ;          #Bank 17
NET  "ddr2_dq[39]"                               LOC = "V24" ;          #Bank 17
NET  "ddr2_dq[40]"                               LOC = "R24" ;          #Bank 19
NET  "ddr2_dq[41]"                               LOC = "P25" ;          #Bank 19
NET  "ddr2_dq[42]"                               LOC = "N24" ;          #Bank 19
NET  "ddr2_dq[43]"                               LOC = "P26" ;          #Bank 19
NET  "ddr2_dq[44]"                               LOC = "T24" ;          #Bank 19
NET  "ddr2_dq[45]"                               LOC = "N25" ;          #Bank 19
NET  "ddr2_dq[46]"                               LOC = "P27" ;          #Bank 19
NET  "ddr2_dq[47]"                               LOC = "N28" ;          #Bank 19
NET  "ddr2_dq[48]"                               LOC = "M28" ;          #Bank 19
NET  "ddr2_dq[49]"                               LOC = "L28" ;          #Bank 19
NET  "ddr2_dq[50]"                               LOC = "F25" ;          #Bank 19
NET  "ddr2_dq[51]"                               LOC = "H25" ;          #Bank 19
NET  "ddr2_dq[52]"                               LOC = "K27" ;          #Bank 19
NET  "ddr2_dq[53]"                               LOC = "K28" ;          #Bank 19
NET  "ddr2_dq[54]"                               LOC = "H24" ;          #Bank 19
NET  "ddr2_dq[55]"                               LOC = "G26" ;          #Bank 19
NET  "ddr2_dq[56]"                               LOC = "G25" ;          #Bank 19
NET  "ddr2_dq[57]"                               LOC = "M26" ;          #Bank 19
NET  "ddr2_dq[58]"                               LOC = "J24" ;          #Bank 19
NET  "ddr2_dq[59]"                               LOC = "L26" ;          #Bank 19
NET  "ddr2_dq[60]"                               LOC = "J27" ;          #Bank 19
NET  "ddr2_dq[61]"                               LOC = "M25" ;          #Bank 19
NET  "ddr2_dq[62]"                               LOC = "L25" ;          #Bank 19
NET  "ddr2_dq[63]"                               LOC = "L24" ;          #Bank 19
NET  "ddr2_a[12]"                                LOC = "T31" ;          #Bank 15
NET  "ddr2_a[11]"                                LOC = "R29" ;          #Bank 15
NET  "ddr2_a[10]"                                LOC = "J31" ;          #Bank 15
NET  "ddr2_a[9]"                                 LOC = "R28" ;          #Bank 15
NET  "ddr2_a[8]"                                 LOC = "M31" ;          #Bank 15
NET  "ddr2_a[7]"                                 LOC = "P30" ;          #Bank 15
NET  "ddr2_a[6]"                                 LOC = "P31" ;          #Bank 15
NET  "ddr2_a[5]"                                 LOC = "L31" ;          #Bank 15
NET  "ddr2_a[4]"                                 LOC = "K31" ;          #Bank 15
NET  "ddr2_a[3]"                                 LOC = "P29" ;          #Bank 15
NET  "ddr2_a[2]"                                 LOC = "N29" ;          #Bank 15
NET  "ddr2_a[1]"                                 LOC = "M30" ;          #Bank 15
NET  "ddr2_a[0]"                                 LOC = "L30" ;          #Bank 15
NET  "ddr2_ba[1]"                                LOC = "J30" ;          #Bank 15
NET  "ddr2_ba[0]"                                LOC = "G31" ;          #Bank 15
NET  "ddr2_ras_n"                                LOC = "H30" ;          #Bank 15
NET  "ddr2_cas_n"                                LOC = "E31" ;          #Bank 15
NET  "ddr2_we_n"                                 LOC = "K29" ;          #Bank 15
NET  "ddr2_cs_n[0]"                              LOC = "L29" ;          #Bank 15
NET  "ddr2_odt[0]"                               LOC = "F31" ;          #Bank 15
NET  "ddr2_cke[0]"                               LOC = "T28" ;          #Bank 15
NET  "ddr2_dm[0]"                                LOC = "AJ31" ;          #Bank 17
NET  "ddr2_dm[1]"                                LOC = "AE28" ;          #Bank 21
NET  "ddr2_dm[2]"                                LOC = "Y24" ;          #Bank 21
NET  "ddr2_dm[3]"                                LOC = "Y31" ;          #Bank 17
NET  "ddr2_dm[4]"                                LOC = "V25" ;          #Bank 17
NET  "ddr2_dm[5]"                                LOC = "P24" ;          #Bank 19
NET  "ddr2_dm[6]"                                LOC = "F26" ;          #Bank 19
NET  "ddr2_dm[7]"                                LOC = "J25" ;          #Bank 19
NET  "sys_clk_p"                                 LOC = "K18" ;          #Bank 3
NET  "sys_clk_n"                                 LOC = "J19" ;          #Bank 3
NET  "clk200_p"                                  LOC = "L19" ;          #Bank 3
NET  "clk200_n"                                  LOC = "K19" ;          #Bank 3
NET  "sys_rst_n"                                 LOC = "E9" ;          #Bank 20
NET  "phy_init_done"                             LOC = "H18" ;          #Bank 3
NET  "ddr2_dqs[0]"                               LOC = "AA29" ;          #Bank 17
NET  "ddr2_dqs_n[0]"                             LOC = "AA30" ;          #Bank 17
NET  "ddr2_dqs[1]"                               LOC = "AK28" ;          #Bank 21
NET  "ddr2_dqs_n[1]"                             LOC = "AK27" ;          #Bank 21
NET  "ddr2_dqs[2]"                               LOC = "AK26" ;          #Bank 21
NET  "ddr2_dqs_n[2]"                             LOC = "AJ27" ;          #Bank 21
NET  "ddr2_dqs[3]"                               LOC = "AB31" ;          #Bank 17
NET  "ddr2_dqs_n[3]"                             LOC = "AA31" ;          #Bank 17
NET  "ddr2_dqs[4]"                               LOC = "Y28" ;          #Bank 17
NET  "ddr2_dqs_n[4]"                             LOC = "Y29" ;          #Bank 17
NET  "ddr2_dqs[5]"                               LOC = "E26" ;          #Bank 19
NET  "ddr2_dqs_n[5]"                             LOC = "E27" ;          #Bank 19
NET  "ddr2_dqs[6]"                               LOC = "H28" ;          #Bank 19
NET  "ddr2_dqs_n[6]"                             LOC = "G28" ;          #Bank 19
NET  "ddr2_dqs[7]"                               LOC = "G27" ;          #Bank 19
NET  "ddr2_dqs_n[7]"                             LOC = "H27" ;          #Bank 19
NET  "ddr2_ck[0]"                                LOC = "AK29" ;          #Bank 21
NET  "ddr2_ck_n[0]"                              LOC = "AJ29" ;          #Bank 21
NET  "ddr2_ck[1]"                                LOC = "E28" ;          #Bank 19
NET  "ddr2_ck_n[1]"                              LOC = "F28" ;          #Bank 19

###
### End import 
###

c

//NET "cr_nADV" LOC="J4" | SLEW="fast" | TNM = CR_CTL;
//NET "cr_nCE" LOC="R6" | SLEW="fast" | TNM = CR_CTL;
//NET "cr_nOE" LOC="T2" | SLEW="fast" | TNM = CR_CTL;
//NET "cr_nWE" LOC="N7" | SLEW="fast" | TNM = CR_CTL;
//NET "cr_CRE" LOC="P7" | SLEW="fast" | TNM = CR_CTL;
//NET "cr_nLB" LOC="K5" | SLEW="fast" | TNM = CR_CTL;
//NET "cr_nUB" LOC="K4" | SLEW="fast" | TNM = CR_CTL;
//NET "cr_CLK" LOC="H5" | SLEW="fast" | TNM = CR_CTL;
//
//NET "cr_DQ<0>" LOC="L1" | SLEW="fast" | TNM = CR_DATA;
//NET "cr_DQ<1>" LOC="L4" | SLEW="fast" | TNM = CR_DATA;
//NET "cr_DQ<2>" LOC="L6" | SLEW="fast" | TNM = CR_DATA;
//NET "cr_DQ<3>" LOC="M4" | SLEW="fast" | TNM = CR_DATA;
//NET "cr_DQ<4>" LOC="N5" | SLEW="fast" | TNM = CR_DATA;
//NET "cr_DQ<5>" LOC="P1" | SLEW="fast" | TNM = CR_DATA;
//NET "cr_DQ<6>" LOC="P2" | SLEW="fast" | TNM = CR_DATA;
//NET "cr_DQ<7>" LOC="R2" | SLEW="fast" | TNM = CR_DATA;
//NET "cr_DQ<8>" LOC="L3" | SLEW="fast" | TNM = CR_DATA;
//NET "cr_DQ<9>" LOC="L5" | SLEW="fast" | TNM = CR_DATA;
//NET "cr_DQ<10>" LOC="M3" | SLEW="fast" | TNM = CR_DATA;
//NET "cr_DQ<11>" LOC="M6" | SLEW="fast" | TNM = CR_DATA;
//NET "cr_DQ<12>" LOC="L2" | SLEW="fast" | TNM = CR_DATA;
//NET "cr_DQ<13>" LOC="N4" | SLEW="fast" | TNM = CR_DATA;
//NET "cr_DQ<14>" LOC="R3" | SLEW="fast" | TNM = CR_DATA;
//NET "cr_DQ<15>" LOC="T1" | SLEW="fast" | TNM = CR_DATA;
//
//NET "cr_A<0>" LOC="J1" | SLEW="fast" | TNM = CR_ADDR;
//NET "cr_A<1>" LOC="J2" | SLEW="fast" | TNM = CR_ADDR;
//NET "cr_A<2>" LOC="H4" | SLEW="fast" | TNM = CR_ADDR;
//NET "cr_A<3>" LOC="H1" | SLEW="fast" | TNM = CR_ADDR;
//NET "cr_A<4>" LOC="H2" | SLEW="fast" | TNM = CR_ADDR;
//NET "cr_A<5>" LOC="J5" | SLEW="fast" | TNM = CR_ADDR;
//NET "cr_A<6>" LOC="H3" | SLEW="fast" | TNM = CR_ADDR;
//NET "cr_A<7>" LOC="H6" | SLEW="fast" | TNM = CR_ADDR;
//NET "cr_A<8>" LOC="F1" | SLEW="fast" | TNM = CR_ADDR;
//NET "cr_A<9>" LOC="G3" | SLEW="fast" | TNM = CR_ADDR;
//NET "cr_A<10>" LOC="G6" | SLEW="fast" | TNM = CR_ADDR;
//NET "cr_A<11>" LOC="G5" | SLEW="fast" | TNM = CR_ADDR;
//NET "cr_A<12>" LOC="G4" | SLEW="fast" | TNM = CR_ADDR;
//NET "cr_A<13>" LOC="F2" | SLEW="fast" | TNM = CR_ADDR;
//NET "cr_A<14>" LOC="E1" | SLEW="fast" | TNM = CR_ADDR;
//NET "cr_A<15>" LOC="M5" | SLEW="fast" | TNM = CR_ADDR;
//NET "cr_A<16>" LOC="E2" | SLEW="fast" | TNM = CR_ADDR;
//NET "cr_A<17>" LOC="C2" | SLEW="fast" | TNM = CR_ADDR;
//NET "cr_A<18>" LOC="C1" | SLEW="fast" | TNM = CR_ADDR;
//NET "cr_A<19>" LOC="D2" | SLEW="fast" | TNM = CR_ADDR;
//NET "cr_A<20>" LOC="K3" | SLEW="fast" | TNM = CR_ADDR;
//NET "cr_A<21>" LOC="D1" | SLEW="fast" | TNM = CR_ADDR;
//NET "cr_A<22>" LOC="K6" | SLEW="fast" | TNM = CR_ADDR;
//NET "st_nCE" LOC="R5" | SLEW="fast" | TNM = CR_CTL;
//
//NET "vs" LOC = "u3" |SLEW = "fast";
//NET "hs" LOC = "t4" |SLEW = "fast";
//NET "r<2>" LOC = "r8";
//NET "r<1>" LOC = "t8";
//NET "r<0>" LOC = "r9";
//NET "g<2>" LOC = "p6";
//NET "g<1>" LOC = "p8";
//NET "g<0>" LOC = "n8";
//NET "b<1>" LOC = "u4";
//NET "b<0>" LOC = "u5";
//
//NET "rst" LOC="H13";
//NET "rstact" LOC="J14";
//
//NET "ps2c" LOC="R12" | CLOCK_DEDICATED_ROUTE = FALSE;
//NET "ps2d" LOC="P11";

